/* Button */
/* ---------------------------------------- */
    
  .Button {
    a {
      display: inline-block;
      padding: 1.4rem 2rem 1.2rem;
      background-color: #fff;
      border-radius: .4rem;
      font-weight: bold;
      text-transform: uppercase;
      transform: scale(1);

      &:hover {
        box-shadow: 0 1px 15px 0 rgba(0,0,0,.2);
        transform: scale(1.07);
      }

      &:active {
        transform: scale(1.02);
      }
    }

    &.is-primary {
      a {
        color: #fff;
        background: rgb(242,48,81); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(242,48,81,1) 0%, rgba(254,106,57,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(242,48,81,1) 0%,rgba(254,106,57,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(242,48,81,1) 0%,rgba(254,106,57,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23051', endColorstr='#fe6a39',GradientType=1 ); /* IE6-9 */
      }
    }

    &.is-small {
      a {
        font-size: .8em;
        font-weight: normal;
      }
    }
  }

/* ---------------------------------------- */