/* Button */
/* ---------------------------------------- */
    
  .Button {
    a,
    button {
      display: inline-block;
      padding: 1.4rem 2rem 1.2rem;
      background-color: #fff;
      border-radius: .4rem;
      font-weight: bold;
      text-transform: uppercase;
      transform: scale(1);
      border: 0;
      cursor: pointer;
      outline: none;

      // &:hover {
      //   box-shadow: 0 1px 15px 0 rgba(0,0,0,.2);
      //   transform: scale(1.07);
      // }

      // &:active {
      //   transform: scale(1.02);
      // }

      &:hover {
        background: #ef3030;
        color: #fff;
      }
    }

    &.is-link {
      a {
        padding: 0;
        text-transform: none;
        font-size: .8em;

        &:hover {
          background: transparent;
          color: #ef3030;
        }
      }
    }

    &.is-primary {
      a,
      button {
        color: #fff;
        background: rgb(242,48,81); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(242,48,81,1) 0%, rgba(254,106,57,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(242,48,81,1) 0%,rgba(254,106,57,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(242,48,81,1) 0%,rgba(254,106,57,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23051', endColorstr='#fe6a39',GradientType=1 ); /* IE6-9 */

        &:hover {
          transition: none;
          background: #ef3030;
        }
      }
    }

    &.has-icon {

      a,
      button {
        position: relative;

        .Button-icon {
          position: absolute;
          top: 0;
          height: 100%;
          display: flex;
          align-items: center;
        }
      }

      &.has-icon-position-left { a, button { .Button-icon { left: 2rem; }}}
      &.has-icon-position-right { a, button { .Button-icon { right: 2rem; }}}

      &.has-icon-position-left {
        &.has-icon-size-small {
          a, button { .Button-label { padding-left: 2rem; }}
        }
        &.has-icon-size-regular {
          a, button { .Button-label { padding-left: 3rem; }}
        }
      }

      &.has-icon-position-right {
        &.has-icon-size-small {
          a, button { .Button-label { padding-right: 2rem; }}
        }
        &.has-icon-size-regular {
          a, button { .Button-label { padding-right: 3rem; }}
        }
      }

      &.is-link {
        &.has-icon-position-left a .Button-icon { top: -.1rem; left: .2rem; }
        &.has-icon-position-right a .Button-icon { top: -.1rem; right: .2rem; }
      }
    }

    &.is-small {
      a,
      button {
        padding: 1.6rem 2rem 1.4rem;
        font-size: .8em;
        font-weight: normal;
      }
    }

    @media (min-width: 1025px) {
      &.is-wide {
        a,
        button {
          padding-left: 4rem;
          padding-right: 4rem;
        }

        &.has-icon {
          a,
          button {
            .Button-icon {
              right: 4rem;
            }
          }

          &.has-icon-position-left { a, button { .Button-icon { left: 4rem; }}}
          &.has-icon-position-right { a, button { .Button-icon { right: 4rem; }}}
        }
      }
    }
  }

/* ---------------------------------------- */