/* Grid */
/* ---------------------------------------- */
    
  @import '../../assets/less/variables.less';

/* ---------------------------------------- */
    
  .Grid {
    display: flex;

    &.has-vcenter { align-items: center; }

    .Grid-col {
      &:nth-child(1) {
        flex: 0 0 40rem;
      }
    }
  }

/* ---------------------------------------- */