/* Icon */
/* ---------------------------------------- */
    
  .Icon {
    &.is-regular {
      height: 1.8rem;
    }

    &.is-small {
      height: .9rem;
    }

    &.is-medium {
      height: 3rem;
    }

    &.is-large {
      height: 4rem;
    }

    img {
      display: block;
      max-height: 100%;
    }
  }

  @media (max-width: 1024px) {
    .Icon {
      
    }
  }

/* ---------------------------------------- */