/* Image */
/* ---------------------------------------- */
    
  @import '../../assets/less/variables.less';

/* ---------------------------------------- */
    
  .Image {
    position: relative;
    
    img {
      max-width: 100%;
      display: block;
    }
  }

/* ---------------------------------------- */