/* Text */
/* ---------------------------------------- */
    
  @import '../../assets/less/variables.less';

/* ---------------------------------------- */
    
  .Text {
    p {
      line-height: 160%;
    }

    &.has-no-spacing {
      p {
        margin: 0;
        padding: 0;
      }
    }

    &.has-text-center {
      text-align: center;
    }

    &.is-subtitle {
      font-size: @font-size-md;
      font-weight: bold;
    }

    &.is-bold {
      font-weight: bold;
    }
  }

/* ---------------------------------------- */