/* Section */
/* ---------------------------------------- */

    @section-container-width: 74rem;
    @section-wrapper-width: 40rem;

/* ---------------------------------------- */
    
  .Section {
    position: relative;
    
    .Section-content {
      padding: 6rem 0;
      overflow: hidden;
    }

    .Section-container {
      &.has-width-fixed {
        max-width: @section-container-width;
        margin: 0 auto;
      }
    }

    .Section-wrapper {
      &.has-width-fixed {
        max-width: @section-wrapper-width;
      }
    }
  }

/* Modifiers */
/* ---------------------------------------- */

  .Section {
    &.is-minimal {
      .Section-content {
        padding: 3rem 0;
      }
    }

    &.is-centered {
      text-align: center;

      .Section-wrapper {
        margin: 0 auto;
      }
    }
  
    &.has-background-gray {
      background-color: #f5f5f5;
    }
    .Section-content {
      &.has-background-gray {
        background-color: #f5f5f5;
      }
    }

    &.has-cover {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      color: #fff;

      .Heading {
        color: #fff;
      }
    }
  }

/* Single */
/* ---------------------------------------- */

  .Section.Section-Hero {
    .Section-container {
      position: relative;
    }

    .Button {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -2rem;
    }

    @media (max-width: 1024px) {
      .Button {
        position: static;
        top: auto;
        margin-top: 2rem;
      }
    }
  }

  .Section.Section-Intro {
    .Intro {
      display: flex;
      align-items: center;

      .Intro-left {
        .Intro-image {
          padding: 3rem;
          position: relative;
          max-width: 40rem;
          min-width: 40rem;
          text-align: center;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 50%;
            bottom: 0;
          }
        }
      }

      .Intro-right {
        padding-left: 3rem;
      }
    }

    @media (max-width: 1024px) {
      .Intro {
        flex-direction: column;
        padding: 0;

        .Intro-left {
          .Intro-image {
            padding: 0;
            max-width: 100%;
            min-width: 100%;

            &:before {
              bottom: 50%;
              right: 0;
            }
          }
        }

        .Intro-right {
          padding: 4rem 0;
        }
      }
    }
  }

/* Responsiveness */
/* ---------------------------------------- */

  @media (max-width: 1024px) {
    .Section {
      text-align: center;

      .Section-content {
        padding: 3rem 0;
      }

      .Section-container {
        &,
        &.has-width-fixed {
          max-width: 100%;
        }
      }

      .Section-wrapper {
        &,
        &.has-width-fixed {
          max-width: 100%;
          padding: 0 2rem;
        }
      }
    }
  }

/* ---------------------------------------- */