/* Section */
/* ---------------------------------------- */
    
  .Section {
    .Section-content {
      padding: 6rem 0;
    }

    .Section-container {
      &.has-width-fixed {
        max-width: 68rem;
        margin: 0 auto;
      }
    }

    .Section-wrapper {
      &.has-width-fixed {
        max-width: 40rem;
      }
    }
  }

/* Modifiers */
/* ---------------------------------------- */

  .Section {
    &.is-minimal {
      .Section-content {
        padding: 3rem 0;
      }
    }

    &.is-centered {
      text-align: center;
    }
  
    &.has-background-gray {
      background-color: #f5f5f5;
    }
    .Section-content {
      &.has-background-gray {
        background-color: #f5f5f5;
      }
    }

    &.has-cover {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      color: #fff;

      .Heading {
        color: #fff;
      }
    }
  }

/* Responsiveness */
/* ---------------------------------------- */

  @media (max-width: 1024px) {
    .Section {
      text-align: center;

      .Section-container {
        &,
        &.has-width-fixed {
          max-width: 100%;
        }
      }

      .Section-wrapper {
        &,
        &.has-width-fixed {
          max-width: 100%;
          padding: 0 2rem;
        }
      }
    }
  }

/* ---------------------------------------- */