/* Section */
/* ---------------------------------------- */

    @section-container-width: 74rem;
    @section-wrapper-width: 40rem;

/* ---------------------------------------- */
    
  .Section {
    position: relative;
    
    .Section-content {
      padding: 6rem 0;
      overflow: hidden;
    }

    .Section-container {
      &.has-width-fixed {
        max-width: @section-container-width;
        margin: 0 auto;
      }
    }

    .Section-wrapper {
      &.has-width-fixed {
        max-width: @section-wrapper-width;
      }
    }
  }

/* Modifiers */
/* ---------------------------------------- */

  .Section {
    &.is-minimal {
      .Section-content {
        padding: 3rem 0;
      }
    }

    &.is-centered {
      text-align: center;

      .Section-wrapper {
        margin: 0 auto;
      }
    }
  
    &.has-background-gray {
      background-color: #f5f5f5;
    }
    .Section-content {
      &.has-background-gray {
        background-color: #f5f5f5;
      }
    }
    
    .Section-content {
      &.is-full-height {
        padding: 14rem 0;
      }
    }

    &.has-cover {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      color: #fff;

      .Heading {
        color: #fff;
      }
    }
  }


/* Responsiveness */
/* ---------------------------------------- */

  @media (max-width: 1024px) {
    .Section {
      text-align: center;

      .Section-content {
        padding: 4rem 0;


        &.is-full-height {
          padding: 4rem 0;
        }
      }

      .Section-container {
        &,
        &.has-width-fixed {
          max-width: 100%;
        }
      }

      .Section-wrapper {
        &,
        &.has-width-fixed {
          max-width: 100%;
          padding: 0 2rem;
        }
      }
    }
  }

/* Single */
/* ---------------------------------------- */

  .Section.Section-Hero {
    .Section-container {
      position: relative;
    }

    .Button {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -2rem;
    }

    @media (max-width: 1024px) {
      .Button {
        position: static;
        top: auto;
        margin-top: 2rem;
      }
    }
  }

  .Section.Section-Intro {
    .Intro {
      display: flex;
      align-items: center;

      .Intro-left {
        .Intro-image {
          padding: 3rem;
          position: relative;
          max-width: 40rem;
          min-width: 40rem;
          text-align: center;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 50%;
            bottom: 0;
          }
        }
      }

      .Intro-right {
        padding-left: 3rem;

        .Section-wrapper {
          &.has-width-fixed {
            max-width: 55rem;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      .Intro {
        flex-direction: column;
        padding: 0;

        .Intro-left {
          .Intro-image {
            padding: 0;
            max-width: 100%;
            min-width: 100%;

            &:before {
              bottom: 50%;
              right: 0;
            }
          }
        }

        .Intro-right {
          padding: 4rem 0;
        }
      }
    }
  }
  // Hack for Project Page Section Intro
  .Page-Project {
    .Section.Section-Intro {
      @media (max-width: 1024px) {
        .Intro {
          .Intro-right {
            padding-top: 0;
          }
        }
      }
    }
  }

  .Section.Section-ContactDetails {
    .Contact-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #023b4c;

      & > div {
        &:nth-child(2) {
          padding: 0 4rem;
          border: 1px solid #c5c5c5;
          border-top: 0;
          border-bottom: 0;
        }

        &._row {
          display: flex;
          align-items: center;
        }
      }

      ._contact-schedule {
        padding: 0 0 0 1.4rem;

        ._contact-title {
          font-size: .9em;
          text-transform: uppercase;
          font-weight: bold;
        }

        ._contact-opening {
          font-size: .9em;
        }
      }

      ._contact-phone {
        text-align: center;
        padding: 0 0 0 1.4rem;

        ._contact-phone-no {
          font-weight: bold;
          font-size: 1.5em;
          letter-spacing: .3rem;
        }

        ._contact-phone-desc {
          position: relative;

          span {
            font-size: .8em;
            background-color: #fff;
            position: relative;
            z-index: 1;
            padding: 0 .4rem;
          }

          &:after {
            content: "";
            width: 98%;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: .6em;
            background-color: #023b4c;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      .Contact-row {
        flex-direction: column;
        text-align: left;

        & > div {
          &:nth-child(2) {
            padding: 2rem 0;
            border: 0;
          }
        }
      }
    }
  }

  .Section.Section-ContactForm {
    @media (min-width: 1025px) {
      .Card {
        padding: 6rem 4rem;
      }
    }
  }

  .Section.Section-ComingSoon {
    h1 {
      font-size: 6rem;
      font-weight: 900;
      background: -webkit-linear-gradient(left, rgba(242,48,81,1) 0%, rgba(254,106,57,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @media (max-width: 1024px) {
      h1 {
        font-size: 4rem;
        line-height: 100%;
      }
    }
  }

/* ---------------------------------------- */