/* Section-Intro */
/* ---------------------------------------- */
    
  @import '../../assets/less/variables.less';
  @import '../../assets/less/mixins.less';

/* ---------------------------------------- */
    
  .Section-Intro {
    background-color: @color-gray-light;
    
    .App-wrapper {
      display: flex;
      align-items: center;

      .Intro-left {
        padding: 3rem;
        position: relative;
        max-width: 40rem;
        min-width: 40rem;
        text-align: center;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 50%;
          bottom: 0;
          .gradient-vertical;
        }
      }

      .Intro-right {
        .App-wrapper {
          padding: 4rem 0;
          display: block;
        }
      }
    }
  }

  .Section-Intro {
    @media (max-width: 1024px) {
      .App-wrapper {
        flex-direction: column;
        padding: 0;

        .Intro-left {
          padding: 0;
          max-width: 100%;
          min-width: 100%;

          &:before {
            content: none;
          }
        }

        .Intro-right {
          padding: 4rem 2rem;

          .App-wrapper {
            padding: 0;
          }
        }
      }
    }
  }

/* ---------------------------------------- */